body {
  font-family: Arial, sans-serif;
  background-image: url("imagenes/imagen-fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: rgb(23, 90, 100);
  text-shadow: 2px 2px 3px rgba(136, 69, 69, 0.267);
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #dbd6e6d5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  border-radius: 8px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e2dde6;
  border-radius: 5px;
  height: 189px;
  width: 580px;
  color: #162222b6;
}

ul {
  list-style: none;
  padding: 0;
}

.lis {
  margin-bottom: 5px;
  background-color: #5e98a036;
  padding: 10px;
  border: 1px solid #7aaf96;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(51, 95, 88, 0.26);
  text-shadow: 2px 2px 3px rgba(54, 61, 100, 0.171);
  color: #2b5245;
  text-align: center;
}

textarea[name="user-input"] {
  border: 1px solid #5b568a;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #67a08d3d;
  color: #2b5245;
}

button {
  display: block;
  border: none;
  border-radius: 10px;
  padding: 15px 40px;
  margin: 0 auto;
  cursor: pointer;
  transition: box-shadow 0.2s;
  text-shadow: 2px 2px 3px rgba(69, 69, 141, 0.486);
  box-shadow: 0px 4px 4px rgba(89, 94, 93, 0.185);
}

#reset-button {
  background-color: #469e8b;
  color: #f3f3eb;
}

button:hover {
  box-shadow: 0px 6px 10px rgba(110, 144, 150, 0.514);
}

footer {
  text-align: center;
  margin-top: 20px;
  color: rgb(23, 90, 100);
  text-shadow: 2px 2px 3px rgba(126, 65, 65, 0.253);
}

footer strong {
  font-weight: bold;
  display: inline-block;
}

header {
  text-shadow: 2px 2px 3px rgba(126, 65, 65, 0.253);
}
